.meals {
  padding: 0 1.5em 0 1.5em;
  margin: 1em;
  flex: 300px;
  border-radius: 20px;
  background-color: #f2f0f0;
  color: #703E30;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.meals h3 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1em;
  font-size: 2.2em;
  padding-top: 0.5em;
}

.meals p:nth-child(2) {
  padding-bottom: 1em;
  text-align: center;
}

.meals p:last-child {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}
