.home-intro {
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 2em;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.home-intro h1 {
  font-size: 4em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: lighter;
  justify-self: end;
  animation: opacity 2s linear forwards;
}

.home-img {
  max-width: 100%;
  border-radius: 20rem;
  justify-self: center;
  animation: opacity 1.5s ease-in forwards, slideIn 1.5s both;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .home-intro h1 {
    font-size: 2em;
    text-align: right;
  }
  .home-intro {
    display: contents;
  }
}


