@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import 'theme.css';
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #703E30;
}

body {
  height: 100%;
}

#root {
  padding: 3rem 7rem 10em;
  color: white;
}

#root h1, h2, h3 {
  font-family: 'Knewave', cursive;
  color: #d7b3bd;
}

img.logo {
  border-radius: 0%;
  max-width: 15em;
  margin-bottom: 1em;
}

.menu {
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3em;
  margin-top: 2em;
}

.menu li {
  padding: 1em;
}

.menu li:hover {
  text-decoration: wavy;
  text-decoration-line: underline;
}

body {
  margin: 0px;
  font-size: 17px;
  color: #7b8155;
  background-color: #e4e4e4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #703E30;
}

button {
  background-color: #7b8155;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 17px;
  margin-left: 1em;
  text-transform: uppercase;
  width: max-content;
}

button[disabled] {
  background-color: lightgray;
}

footer {
  margin-top: -6em;
  height: 6em;
  background-color: #7b8155;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-size: small;
  margin: 0;
  line-height: 1.8em;
}

input, textarea {
  border: none;
  padding: 0.7em;
  color: #252525;
  align-self: start;
  border-radius: 8px;
}

.small-text {
  text-align: right;
}

@media screen and (max-width: 750px) {
  #root {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    margin: 0;
  }
  .menu {
    flex-direction: column;
    left: 0;
    align-items: flex-end;
  }
  .menu li {
    padding: 0.5em;
  }
  button {
    width: 10em;
  }
  img.logo {
    max-width: 12em;
    margin-top: 0;
  }
}
